body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    background-color: azure;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue !important
}

.font-weight-bold{
    color: lightcoral !important;
}

/*other styles on seperate
*/
.common{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px;
    
}
.middle{
    top: 10px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index:1;
    text-align: center;
}

.imgcenter{
    display: block;
    margin: auto;
    border: 2px solid darkblue;

}